
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <label for="query">Search: </label>
        <input type="text" id="query" @bind-value="query"/>
    </div>
    <button type="button" class="btn btn-primary mb-2" @onclick="HandleSearch">Search</button>
</form>


@code {
    private string query;

    [Parameter]
    public EventCallback<string> SearchingString { get; set; }

    private void HandleSearch()
    {
        SearchingString.InvokeAsync(query);
    }

}
